.blog-details-content-container{
    padding-left: 219px;
    padding-right: 219px;
}

.blog-details-content-description {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;   
  letter-spacing: 0px;
  color: var(--primary-color-white-70) !important;
  text-align: start !important;
}

.blog-details-content-img{
  width: 100%;
  height: 611.9634399414062px;
  border-radius: 12px;
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.blog-details-content-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
} 

.blog-details-content-heading {
  font-weight: 400;
  font-size: 48px;
  line-height: 57.6px;      /* 120% of 48px */
  letter-spacing: -1.92px;  /* -4% of 48px */
  margin-top: 50px !important;
  margin-bottom: 16px !important;
}

