.nav-container {
    position: fixed;
    width: 1290px;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px;
    z-index: 1000;
    margin-left: auto !important;
    margin-right: auto !important;
}

.nav-with-sub{
    position: relative;
}

.main-nav{
    width: 100%;
    height: 64px;
    border: 1px solid var(--border-color);
    background-color: var(--primary-color-black-30);
    margin-top: 18px;
    border-radius: 360px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px); /* optional */
}

.logo-div{
    width: 221.87486267089844px;
    height: 44px;

}

.nav-list{
    margin-top: 18px;
    height: 100%;
    display: flex;
    align-items: center;
}

ul{
    display: flex;
    justify-content: center;
    flex: 1;
    list-style: none;
    align-items: center;
}

ul li{
    padding-left: 21px;
    padding-right: 21px; 
    color: var(--primary-color-white-60);
    cursor: pointer;
}

ul li a{
    text-decoration: none;
    color: inherit;
}

ul li a:hover,
ul li a:focus {
    text-decoration: none;
    color: inherit;
}

ul li a i{
    font-size: 10px;
    margin-left: 4px;
}

.nav-list ul li a{
    transition: color 0.25s ease, border-color 0.25s ease, padding 0.25s ease, transform 0.25s ease;
}

.nav-list ul li a:hover{
    border: 1px solid var(--border-color);
    color: var(--primary-color-white) !important;
    padding: 2px 16px;
    border-radius: 360px;;
}

.nav-list ul li .glow{
    color: var(--primary-color-white) !important;
}

/* ul .home{
    border: 1px solid var(--border-color);
    color: var(--primary-color-white);
    padding: 2px 16px;
    border-radius: 360px;;
} */

.lets-talk-btn{
    padding: 11px 16px;
    border-radius: 100px;
    border: none;
    background-color: var(--primary-color-yellow);
    color:var(--primary-color-black);
    font-weight: 500px;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0%;
    display: flex;
    align-items: center;
}

.nav-has-dropdown{
    position: relative;
}

.sub-nav-list-div{
    position: absolute;
}

.sub-nav-list-div{
    width: auto;
    /* height: 49px; */
    top:50px;
    padding: 5px;
    border-radius: 99px;
    background: #26283066;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-nav-list-div .sub-nav-list{
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: auto !important;
    margin: 0px !important;
    display: flex;
    align-items: start;
}

.sub-nav-list-item{
    padding-left: 0px !important;
    padding-right: 0px !important;
    width:auto !important;
    display: flex;
    margin: 0px !important;
}

.sub-nav-list-item a{
    width:auto !important;
    display: flex;
    width: 115px;
    padding-top: 11px;
    padding-right: 16px;
    padding-bottom: 11px;
    padding-left: 16px;
    border-radius: 99px;
}

.sub-nav-list-item a:hover{
    background-color: #262830;
    border-radius: 99px;
}

.nav-mobile-container{
    display: none;
  }

  .nav-mobile-logo{
    width: 135.06558227539062px;
    height: 24.00052833557129px;
  }

  .nav-mobile-logo svg {
  width: 100%;
  height: 100%;
}

  .main-mobile-nav{
    display: flex;
    align-items: center !important;
    justify-content: space-between;
    width: 388px;
    height: 24.00052833557129px;
    margin-top: 20px !important;
    margin-left: auto !important;
    margin-right: auto !important;

  }

  .nav-mobile-menu-btn{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


.nav-sub-menu {      /* shrink to content */
  width: fit-content;           /* don’t stretch */
  min-height: 49px !important;
  padding: 5px !important;
  gap: 5px;
  background: #26283066;
  backdrop-filter: blur(6px);   /* needs a value */
  /* border: 1px solid white; */
  border-radius: 99px;          /* uncomment for pill style */
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: 0.3s ease-in-out;
  /* display: none; */
}

.resource-menu{
    opacity: 0;
  transform: translateY(-10px) scale(0.95);
    height: auto;
  display: inline-flex;   
  top: 71.51px;
  right:80px;
  z-index: 1000;
}

.resource-menu.show {
  display: block;               /* show on toggle */
  opacity: 1;
  transform: translateY(0) scale(1);
  pointer-events: auto;
  z-index: 1001;
}

.service-menu{
    opacity: 0;
  transform: translateY(-10px) scale(0.95);
    height: auto;
  display: inline-flex;  
  top: 71.51px;
  right:410px; 
  z-index: 1000;
}

.service-menu.show {
  display: block;               /* show on toggle */
  opacity: 1;
  transform: translateY(0) scale(1);
  pointer-events: auto;
  z-index: 1001;
}

.nav-sub-ul {
  display: flex;
  padding: 0 !important;
  margin: 0 !important;
  list-style: none;             /* remove bullets */
  gap: 5px;                     /* spacing between li */
}

.nav-sub-ul li{
    padding: 0px !important;
    /* margin: 5px !important; */
}

.nav-sub-ul li a {
  display: inline-block;
  text-decoration: none;
  border-radius: 100px;
  padding: 11px 16px !important; /* shorthand */
  /* border: 1px solid white; */
  transition: 0.2s ease-in-out;
}

.nav-sub-ul li a:hover{
    background-color: #262830;
    backdrop-filter: blur;
}

@media (max-width: 428px) {
  .nav-container{
    display: none;
  }

  .nav-mobile-container{
    display: block;
  }


}