.blog-details-intro-container{
    padding: 120px;
    margin-top: 80px !important;
}

.blog-details-sub-intro-container{
    width: 1290px;
    margin-left: auto;
    margin-right: auto;
}

.blog-details-sub-intro-name-div {
    width: 91px;
    height: 25px;
    padding-top: 4px;
    padding-right: 16px;
    padding-bottom: 4px;
    padding-left: 16px;
    gap: 12px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: var(--primary-color-black);
}

.blog-details-sub-intro-name-div::before{
  content: '';
  background: linear-gradient(171.63deg, rgba(236, 236, 236, 0.1) 5.86%, rgba(236, 236, 236, 0) 93.17%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 100px;
  margin: -1px;
}

.blog-details-sub-intro-name-div p {
  font-weight: 300;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 0px;
}

.blog-details-sub-intro-heading {
    font-weight: 500;
    font-size: 128px;
    line-height: 153.6px;
    letter-spacing: -5.12px;
    margin-top:20px !important;
}


.blog-details-sub-intro-inspiration {
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0px;
    color: var(--primary-color-white-70) !important;
    margin-top: 20px !important;
}

.blog-details-intro-img{
    width: 100%;
    height: 738px;
    border-radius: 16px;
    margin-top: 80px;
}

.blog-details-intro-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.blog-details-detail-container{
    padding-left: 120px;
    padding-right: 120px;
}