.subintro-container {
  padding: 120px;
}

.subintro-heading1 {
  font-weight: 500;
  font-size: 256px !important;
  line-height: 307.2px;
  letter-spacing: -10.24px;
}

.subintro-heading2 {
  font-size: 128px !important;
  font-weight: 500;
  line-height: 153.6px;
  letter-spacing: -5.12px;
}

.subintro-head-row{
  width: 1290px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.subintro-heading span {
  color: var(--primary-color-yellow);
}

.subintro-description-row {
  margin-top: 20px !important;
}

.subintro-description {
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0px;
  color: var(--primary-color-white-70) !important;
}

.subintro-btn-row-no-input {
  margin-top: 50px !important;
}
.subintro-btn-row-is-input {
  margin-top: 80px !important;
}

.subintro-btn-col {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.subintro-btn{
    align-self: flex-start;
    display: flex;
    align-items: center;
    background: none;
    padding: 3px;
    padding-left: 15px;
    background: none;
    border: none;
    gap: 12px;
    border-radius: 100px;
    background-color: var(--primary-color-yellow);
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    color: var(--primary-color-black);
    white-space: nowrap !important; 
}

.subintro-icon{
    width: 38px;
    height: 38px;
    border-radius: 100px;
    background-color: var(--primary-color-black);
    color: var(--primary-color-yellow);
    display: flex;
    align-items: center;
    justify-content: center;
}

.subintro-icon svg{
    stroke: var(--primary-color-yellow);
}

.subintro-secont-btn{
    background-color: transparent;
    color: var(--primary-color-white);
    border: 1px solid #26283033;
    transition: 0.3s ease-in-out;
}

.subintro-secont-btn .subintro-icon{
    background-color: var(--card-color);
    color: var(--primary-color-white);
    transition: 0.3s ease-in-out;
}

.subintro-secont-btn .subintro-icon svg{
  stroke: var(--primary-color-white);
  transition: 0.3s ease-in-out;
}

.subintro-secont-btn:hover {
    background-color: var(--primary-color-yellow);
    color: var(--primary-color-black);
}

.subintro-secont-btn:hover .subintro-icon{
    background-color: var(--primary-color-black);
    color: var(--primary-color-yellow);
}

.subintro-secont-btn:hover .subintro-icon svg{
    stroke: var(--primary-color-yellow);
}


.subintro-name-div {
height: 25px;
padding-top: 4px;
padding-right: 16px;
padding-bottom: 4px;
padding-left: 16px;
gap: 12px;
border-radius: 100px;
position: relative;
background-color: var(--primary-color-black);
}

.subintro-name-div::before{
  content: '';
  background: linear-gradient(171.63deg, rgba(236, 236, 236, 0.1) 5.86%, rgba(236, 236, 236, 0) 93.17%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 100px;
  margin: -1px;
}




.subintro-name-div p {
  font-weight: 300;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 0px;
}

.subintro-input-box{
  width: 472px;
  height: 44px;
  border-radius: 99px;
  padding-top: 9px;
  padding-right: 20px;
  padding-bottom: 9px;
  padding-left: 20px;
  border-width: 1px;
  font-weight: 300;
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 0px;
  background: #26283033;
  border: 1px solid #262830;
  color: var(--primary-color-white);
}

.subintro-input-box:focus{
  outline: none;
}

